* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
}

nav {
    padding: 15px 100px;
    background-color: #f4abb6;
    text-align: center;
    position: fixed;
    width: 100%;
}

nav a {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
}

header h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 100px;
    color: #ffffff;
    font-weight: 300;
}

header h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    font-weight: 300;
    color: #ffffff;
}

.headerTitulo {
    background-image: url('./recursos/fondo-01.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    text-align: center;
}

.headerTitulo div {
    padding: 180px 70px;
}

.barra-seccion {
    display: block;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    background-color: #f4abb6;
    font-family: 'Quicksand', sans-serif;
    color: #ffffff;
    font-weight: 300;
    font-size: 30px;
}

.texto-derecha {
    text-align: end;
}

.sobreMi {
    background-color: #f8e7e7;
}

.sobreMi-contenido {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    height: 500px;
    width: 87%;
    margin: 0 auto;
}

.imagen-perfil-contenedor {
    align-items: center;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 400px;
    overflow: hidden;
    width: 500px;
    margin-right: 15px;
}

.imagen-perfil-contenedor img {
    margin-top: 120px;
}

.sobreMi-presentacion {
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    width: 50%;
    color: #ec6668;
}

.habilidades-contenido {
    height: 600px;
    width: 100%;
    background-color: #f8e7e7;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.habilidades-img {
    width: 200px;
}

.habilidades-img-programa {
    margin-bottom: 10px;
}

.portfolio {
    background-color: #f8e7e7;
}

.portfolio-1{
        margin-top: 20px;
        margin-bottom: 0px;
        padding-top: 20px;
        width: 100%;
        overflow: scroll;
    }

.portfolio-contenido{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fotorama{
    margin-top: 20px;
    margin-bottom: 0px;
    padding-top: 20px;
    max-width: 90%;
    margin-left: 60px;
}

ul{
    width:1646px;
    height: 296px;
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin-top: 26px;
    margin-left: 90px;

}

#footer {    background-image: url('./recursos/fondo-01.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1260px;
        width: 100%;
        padding: 0 15px;
        margin: 0 auto;}

.footer-contenido {
       display: flex;
       justify-content: space-around;
       margin-top: 15%;

    }


.footer-contenido h4 {
margin-left: -40px;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    display: inline;
}

.redes-sociales {
    width: 400px;
}

.formulario {
    font-size: 15px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    margin-top:60px;
    margin-left:1%;

}

input{height: 35px;
margin-left:30px;}

label { margin-left: 30px;}

textarea {position: fixed;
    margin-left: 30px;
margin-top:8px;}

#enviar {width: 70px;
    font-family: 'Raleway', sans-serif;
background-color: #f4abb6;
color: #ffffff;
font-size: 15px;}

h4{    font-size: 40px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
margin-bottom: 60px;
margin-left: 2%;}